@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html, body{
  width: 100%;
  height: 100%;
  background-color: black;
}
.App{
  background-color: black;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.main-app {
  text-align: center;
  margin: 100px;
}
.RCFPtitle{
  margin-bottom: 5%;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.cta-button {
  padding: 15px;
  border: 1px solid white;
  max-width: 10%;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background: black;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}
.texty{
  width: 50%;
  color: #ffd867;
  height: 320px;
  margin-right: 2%;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}
.paragraph{
  float: right;
  width: 50%;
  color: #ffd867;
  height: 320px;
  margin-right: 2%;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  border: 5px solid white;
  padding-top: 2%;
}
.connect-wallet-button {
  background: black;
  margin-top: 13%;
  margin-right: 5%;
  position: absolute;
        top: 0px;
        right: 0px;
}
.About-btn{
  margin-top: 13%;
  margin-left: 5%;
  position: absolute;
        top: 0px;
        left: 0px;
        padding: 15px;
  border: 1px solid white;
  width: 100px;
  height: 60px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background: black;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
        
}

.mint-nft-button {
  background: orange;
  margin-top: 5%;
}
.carddy{
  width: 50%;
  border: 5px solid white;
  /* position: absolute;
      left: 25%;
  background-color: black; */
}
.container{
    display: flex;
    align-items: center;
    justify-content: center
}
.svg {
  width: 100px;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}